# OS
.DS_Store

# Xcode
xcuserdata/

# CocoaPods cruft
Pods/
gen/

# SwiftPM
.build/
.swiftpm/

# jazzy
.docs/

# User settings
.vscode/

# Tuist
/Derived
/*.xcodeproj
/*.xcworkspace
/SampleApp/Derived
/SampleApp/*.xcodeproj
/SampleApp/*.xcworkspace
