sudo: false

notifications:
  email: false

language: swift
os: osx
osx_image: xcode10.2
xcode_workspace: SampleApp.xcworkspace
xcode_destination: platform=iOS Simulator,OS=12.2,name=iPad Pro (9.7-inch)
before_install:
  - gem update --system
  - gem install bundler
  - bundle install
  - bundle exec pod repo update
  - bundle exec pod install

matrix:
  include:
    - xcode_scheme: BlueprintUI-Unit-Tests
    - xcode_scheme: BlueprintUICommonControls-Unit-SnapshotTests

 
