sudo: false

notifications:
  email: false

os: osx

matrix:
  include:
    - language: swift
      name: "Cocoapods BlueprintUI (Xcode 10.2)"
      xcode_scheme: BlueprintUI-Unit-Tests
      osx_image: xcode10.2
      xcode_workspace: SampleApp.xcworkspace
      xcode_destination: platform=iOS Simulator,OS=9.3,name=iPhone 4s
      before_install:
        - cd SampleApp
        - gem update --system
        - gem install bundler
        - bundle install
        - bundle exec pod repo update
        - bundle exec pod install
    - language: swift
      name: "SPM (Xcode 11.2)"
      os: osx
      osx_image: xcode11.2
      script:
        - xcodebuild -scheme "BlueprintUI-Package" test -destination "name=iPad Pro (9.7-inch)"

