name: Generate and publish docs

on:
  push:
    branches: [ main ]

jobs:
  build:
    name: Generate docs with jazzy and publish to Github pages
    runs-on: macos-13-xlarge

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read env
        run: cat .github/workflows/env.properties >> $GITHUB_ENV

      - name: Switch to Xcode ${{ env.xcode_version }}
        run: sudo xcode-select -s /Applications/Xcode_${{ env.xcode_version }}.app

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          # Uses version specified in .ruby_version
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Generate Docs
        run: |
          bundle
          bundle exec ./generate_docs.sh

      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: .docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
